.card-largura {
    max-width: 18rem;
}

.imagem-carrossel-um {
    object-fit: cover; /*edita o objeto sem perder suas proporcoes*/
    object-position: 0 80% ; /*movimento no eixo x e y */
    height: 400px;
}
.imagem-carrossel-dois {
    object-fit: cover; /*edita o objeto sem perder suas proporcoes*/
    height: 400px;
}
.font-titulo {
font-family: 'Pacifico', cursive;

}
.cor-especial {
    color: darkred!important;
}
.botao-cor-especial {
    background-color: darkred;
    color: white;
}
.borda-cor-especial {
    border-color: darkred;
}
.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}